<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.minimalui">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="30" />

    <application
        android:allowBackup="false"
        android:debuggable="false"
        android:hasCode="false"
        android:label="MinimalUI"
        android:supportsRtl="false">

        <activity
            android:name="android.app.NativeActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize">

            <meta-data
                android:name="android.app.lib_name"
                android:value="MinimalUI" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
